
*, *::before, *::after {
    box-sizing:border-box;
    
}

.fab{
    color: white;
    padding-left: 20px;
    font-size: 20px;
}

body{
    font-size: large;
    background: #8FCB9B;
    margin:0;
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.piano{
    display: flex;
}


.white{
    width: 62px;
    height: 300px;
    background-color: white;
    border: 1px solid rgb(0, 0, 0);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-width: 3px;
    border-bottom-width: 3px;
}

.white h2{
    text-align: center;
    margin-top: 250px;
}

.white.active{
    background-color: #dadada;
}

.black{
    width: 36px;
    height: 170px;
    background-color: black;
    margin-left: -18px;
    margin-right: -18px;
    z-index: 2;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}

.black h2{
    font-size: larger;
    text-align: center;
    color: white;
    margin-top: 130px;
}

.black.active{
    background-color: #3a3737;
}


.buttons, .songLink{
    margin-bottom: 2rem;
    display: flex;
}

.btn{
    padding: 0.5rem 1rem;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    background-color: white;
    font-size: 2rem;
    margin-left: 1rem;
    text-decoration: none;
    cursor: pointer;
    color: inherit;
    margin-top: 5rem;
}

.btn:first-child{
    margin-left: 0;
}

.recordBtn{
    color: rgb(0, 0, 0);
}

.recordBtn.active{
    background-color: red;
}

.btn:hover{
    background-color: rgb(170, 255, 58);
}

.playBtn, .saveBtn, .songLink {
    display: none;
}

.playBtn.show,
.saveBtn.show,
.songLink.show {
    display: block;
}


.copyright{
    display: inline-block;
    width: 100%;
    text-align: center;
    background-color:#14274e;
    padding: 0.2rem;
    position: fixed;
    left: 0;
    bottom: 0;
   
    
  }
  .copyright p{
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
  }

.heading {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    background-color:#14274e;
    padding-bottom: 0rem;
}

.heading h1{
    color: white;
    font-size: 40px;
}

.heading h4{
    color: white;
    
}

.songLink{
    margin-top: 0.5rem;
}

@media (max-width: 600px) {
	.C1{
    display: none;
    }
    
    .C1s{
        display: none;
    }
    
    .D1{
        display: none;
    }
    
    .D1s{
        display: none;
    }

    .E1{
        display: none;
    }

    .F1{
        display: none;
    }

    .F1s{
        display: none;
    }

    .G1{
        display: none;
    }

    .G1s{
        display: none;
    }

    .A2{
        display: none;
    }

    .A2s{
        display: none;
    }

    .B2{
        display: none;
    }



    .white{
        width: 48px;
        height: 200px;
    }

    .black{
        width: 40px;
        height: 130px;
        margin-left: -20px;
        margin-right: -20px;
    }

    .black h2{
        margin-top: 100px;
    }

    .white h2{
        margin-top: 150px;
    }

    .btn{
        font-size: 1.5rem;
    }

    .heading h1{
        font-size: 35px;
    }

}